<h1>
    My name is RIFA
</h1>

<h1>
    My name is {{dyName}}
</h1>


<!-- We can use Expression -->
<h1>
    {{2 * 3}}
</h1>

<!-- String Concatination -->
<h1>
{{"Welcome " + dyName}}
</h1>

<!-- can use JavaScript inbuild Property -->
<h1>
    {{dyName.length}}
</h1>


<!-- can use JavaScript inbuild Methods -->
<h1>
    {{dyName.toUpperCase()}}
</h1>


<!-- Can create custom methods -->
<h1>
    {{myMethod()}}
</h1>


<!-- Ternary Conditional Operators -->
<h1>
    My app status is: {{myStatus? "Online" : "Offline"}}
</h1>

<!-- can use property instead of string -->
<h1>
    Status is: {{myStatus? status1 : status2}}
</h1>